<!doctype html>
<html lang="en-US">

<head>
	<title>{{ title or metadata.title }} – dxw</title>
	{% include 'head.njk' %}
	{% include 'font-b.njk' %}
</head>

	<body class="page-template-default page page-id-10431 page--color--yellow">

		{% include 'header.njk' %}

<main id="main-content" role="main" class="gp-container">
			<div class="[ gp-page__main ] [ is-layout-flow aligncontent ]">
	<h1>Our services</h1>
<div class="wp-block-group alignfull image-layout image-layout--1-2 custom-layout is-layout-flow wp-block-group-is-layout-flow">
<div class="wp-block-group floating-feature-block has-senary-background-color has-background is-layout-constrained wp-block-group-is-layout-constrained" style="padding-top:var(--wp--preset--spacing--40);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40);padding-left:var(--wp--preset--spacing--40)">
<svg width="30" height="36" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73.5 88.2"><path fill="currentColor" d="M29.5 0H0v88.3h29.5c24.4 0 44.2-19.8 44.2-44.2S53.8 0 29.5 0z"></path></svg>



<h2 class="wp-block-heading floating-feature-block__text has-white-color has-transparent-background-color has-text-color has-background" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">We help you shape your strategy and design, build and run digital public services</h2>
</div>



<figure class="wp-block-image size-full"><img fetchpriority="high" decoding="async" width="980" height="500" src="https://www.dxw.com/wp-content/uploads/services-callout-left-1.jpg" alt="" class="wp-image-17196" srcset="https://www.dxw.com/wp-content/uploads/services-callout-left-1.jpg 980w, https://www.dxw.com/wp-content/uploads/services-callout-left-1-600x306.jpg 600w, https://www.dxw.com/wp-content/uploads/services-callout-left-1-768x392.jpg 768w" sizes="(max-width: 980px) 100vw, 980px"></figure>



<figure class="wp-block-image size-large"><img decoding="async" width="1080" height="720" src="https://www.dxw.com/wp-content/uploads/services-grid-right-1080x720.jpg" alt="" class="wp-image-17197" srcset="https://www.dxw.com/wp-content/uploads/services-grid-right-1080x720.jpg 1080w, https://www.dxw.com/wp-content/uploads/services-grid-right-600x400.jpg 600w, https://www.dxw.com/wp-content/uploads/services-grid-right-768x512.jpg 768w, https://www.dxw.com/wp-content/uploads/services-grid-right.jpg 1086w" sizes="(max-width: 1080px) 100vw, 1080px"></figure>



<div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-1 wp-block-columns-is-layout-flex" style="padding-top:var(--wp--preset--spacing--80)">
<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
<h3 class="wp-block-heading">We work with</h3>



<ul class="decorated" style="padding-top:var(--wp--preset--spacing--20);padding-right:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--20);padding-left:var(--wp--preset--spacing--20)">
<li class="decorated">central government departments</li>



<li>local authorities</li>



<li>housing associations</li>



<li>healthcare sector</li>



<li>arms length bodies</li>



<li>charities</li>



<li>other organisations working for the public good</li>
</ul>
</div>



<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
<h3 class="wp-block-heading">In lots of ways</h3>



<ul class="decorated" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
<li>researching organisational and user needs</li>



<li>developing working prototypes</li>



<li>designing, building and running live services</li>



<li>secure hosting of your services</li>



<li>developing your strategy and plans</li>



<li>training modules and workshops</li>



<li>building digital capability</li>
</ul>
</div>
</div>



<p class="pattern-footer" style="font-style:normal;font-weight:600"><a href="https://www.dxw.com/case-studies/">Take a look at some of our work</a></p>
</div>



<div style="margin-top:0;height:256px" aria-hidden="true" class="wp-block-spacer responsive-spacer"></div>



<div class="wp-block-group alignfull two-col two-col--8 custom-layout has-white-color has-senary-background-color has-text-color has-background is-layout-flow wp-block-group-is-layout-flow">
<figure class="wp-block-image size-full"><img decoding="async" width="535" height="372" src="https://www.dxw.com/wp-content/uploads/services-how-we-work-1.jpg" alt="" class="wp-image-17333" style="object-fit:cover"></figure>



<div class="wp-block-group two-col--8__floating-text is-layout-constrained wp-block-group-is-layout-constrained" style="padding-top:0;padding-right:0;padding-bottom:var(--wp--preset--spacing--40);padding-left:0">
<div style="height:100px" aria-hidden="true" class="wp-block-spacer responsive-spacer"></div>



<p class="has-poppins-font-family has-large-font-size" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;font-style:normal;font-weight:600">Our work with you can range from one-day workshops to long-term partnerships</p>
</div>



<div id="right-team" class="wp-block-group two-col--8__text-section is-layout-constrained wp-block-group-is-layout-constrained">
<h4 class="wp-block-heading">Creating the right team for you</h4>



<p>We can provide a multidisciplinary team which has the specific expertise and resources you need. Our people are used to working with each other, so hit the ground running.</p>



<p>We often work in integrated dxw / client teams, using our expertise to complement yours. This helps to transfer knowledge and develop your own internal capability. So we leave you in a great place to carry on when we’ve gone.</p>



<h4 class="wp-block-heading">Meeting the Service Standard</h4>



<p>All our services meet the&nbsp;<a href="https://www.gov.uk/service-manual/service-standard">Service Standard</a>,&nbsp;and some of the team have been involved in the development of the standard.</p>



<h4 class="wp-block-heading">Where the work gets done</h4>



<p>Our teams are sometimes co-located with our clients, but we’re experts at remote working with clients and colleagues across the UK.</p>



<p>We can host meetings and workshops at our Leeds headquarters and London hub.</p>
</div>
</div>



<div class="wp-block-group alignfull two-col two-col--4 custom-layout is-layout-flow wp-block-group-is-layout-flow">
<div class="wp-block-group two-col--4__text-section is-layout-constrained wp-block-group-is-layout-constrained">
<h3 class="wp-block-heading has-medium-large-font-size">Strategy and consultancy</h3>



<p>Sometimes organisations need help to frame the problem they’re trying to solve before they get to the stage of designing and building products and services. We can help you define your vision and strategy, and convert that into an action plan so you know where to start.</p>



<p><a href="https://www.dxw.com/strategy">Find out more about our strategy support</a></p>



<h3 class="wp-block-heading has-medium-large-font-size">GovPress</h3>



<p>We’re WordPress specialists and can help you build and operate your website, covering the whole lifecycle from inception to design, to build and secure hosting.</p>



<p><a href="https://www.dxw.com/govpress">Find out more about GovPress</a>.</p>



<h3 class="wp-block-heading has-medium-large-font-size" id="neontribe">Neontribe</h3>



<p>We work with charities and tech-for-good companies to help the people who need it most.</p>



<p><a href="https://www.neontribe.co.uk/">Find our more about Neontribe</a> (external link)</p>
</div>



<figure class="wp-block-image size-large"><img loading="lazy" decoding="async" width="1080" height="810" src="https://www.dxw.com/wp-content/uploads/20221117-DXW-Leeds-Office-November-22-11-1-1080x810.jpg" alt="" class="wp-image-16084" srcset="https://www.dxw.com/wp-content/uploads/20221117-DXW-Leeds-Office-November-22-11-1-1080x810.jpg 1080w, https://www.dxw.com/wp-content/uploads/20221117-DXW-Leeds-Office-November-22-11-1-600x450.jpg 600w, https://www.dxw.com/wp-content/uploads/20221117-DXW-Leeds-Office-November-22-11-1-768x576.jpg 768w" sizes="(max-width: 1080px) 100vw, 1080px"></figure>
</div>



<div class="wp-block-group alignfull has-background-color has-senary-background-color has-text-color has-background is-layout-constrained wp-container-core-group-layout-8 wp-block-group-is-layout-constrained" style="padding-top:var(--wp--preset--spacing--80);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--80);padding-left:var(--wp--preset--spacing--40)">
<blockquote class="wp-block-quote is-style-plain">
<p class="has-poppins-font-family" style="font-style:normal;font-weight:600">“It was clear very early on that partnering with dxw would mean a very different approach to building services. We knew we were going to create good digital services that meet the needs of our users. We’ve learnt so much working alongside dxw as one team.”</p>
<cite>Mathew Cohen, Head of Digital,<br>Metropolitan Thames Valley Housing</cite></blockquote>
</div>



<div class="wp-block-group alignfull wp-block-two-col-shapes is-layout-constrained wp-block-group-is-layout-constrained" style="padding-top:var(--wp--preset--spacing--70);padding-bottom:0">
<figure class="wp-block-image size-large"><img decoding="async" src="https://www.dxw.com/wp-content/themes/dxw-child-theme/static/img/shapes-services.svg" alt=""></figure>



<div class="wp-block-group wp-block-two-col-shapes__text is-layout-constrained wp-block-group-is-layout-constrained" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
<h2 class="wp-block-heading has-large-font-size" style="padding-bottom:var(--wp--preset--spacing--40)">Want to find out more? We’re always happy to meet and chat about the kind of services we offer. <a href="mailto:contact@dxw.com">Drop us an email.</a></h2>



<div class="wp-block-columns is-layout-flex wp-container-core-columns-layout-2 wp-block-columns-is-layout-flex" style="padding-bottom:var(--wp--preset--spacing--50)">
<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
<p>We can help you find the right way to buy our services. We’re on these frameworks:&nbsp;</p>



<ul class="decorated">
<li>Digital Specialists and Programmes</li>



<li>Digital Outcomes and Specialists 5&nbsp;</li>



<li>GCloud 12&nbsp;</li>



<li>Humber Digital Framework</li>
</ul>
</div>



<div class="wp-block-column is-layout-flow wp-block-column-is-layout-flow">
<p>We can supply:&nbsp;</p>



<ul class="decorated">
<li>teams to support your end-to-end digital transformation</li>



<li>individuals to fill gaps in your capability</li>



<li>multidisciplinary teams for any part of the project lifecycle from discovery to live&nbsp;</li>



<li>consultancy and strategy services</li>



<li>long-term hosting and support for your websites and services</li>
</ul>
</div>
</div>
</div>
</div>
</div>
		</main>

	{% include 'newsletter.njk' %}
	{% include 'footer.njk' %}

	</body>

</html>
