<!doctype html>
<html lang="en-US">

<head>
	<title>{{ title or metadata.title }} – dxw</title>
	{% include 'head.njk' %}
	{% include 'font-a.njk' %}
</head>

	<body class="home page-template-default page page-id-3 pt-5">

    <main id="main-content" role="main" class="gp-container">
		<div class="[ gp-page__main ] [ is-layout-flow aligncontent ]">
            <h1>New font testing</h1>
            <h2 id="s1">Examples with new font (v1)</h2>
            <nav aria-labelledby="s1">
                <ul>
                    <li><a href="/tests/home">Homepage</a></li>
                    <li><a href="/tests/post">Post</a></li>
                    <li><a href="/tests/contact">Contact us</a></li>
                    <li><a href="/tests/services">Our services</a></li>
                </ul>
            </nav>

            <h2 id="s2">Examples with new font (v2)</h2>
            <nav aria-labelledby="s2">
                <ul>
                    <li><a href="/tests/home-2">Homepage</a></li>
                    <li><a href="/tests/post-2">Post</a></li>
                    <li><a href="/tests/contact-2">Contact us</a></li>
                    <li><a href="/tests/services-2">Our services</a></li>
                </ul>
            </nav>

            <h2 id="s3">Examples with Cardo font (existing)</h2>

            <nav aria-labelledby="s3">
                <ul>
                    <li><a href="/tests/home-original">Homepage</a></li>
                    <li><a href="/tests/post-original">Post</a></li>
                    <li><a href="/tests/contact-original">Contact us</a></li>
                    <li><a href="/tests/services-original">Our services</a></li>
                </ul>
            </nav>

        </div>
    </main>

	</body>

</html>
