<!doctype html>
<html lang="en-US">

<head>
	<title>{{ title or metadata.title }} – dxw</title>
	{% include 'head.njk' %}
	{% include 'font-merriweather.njk' %}
</head>

	<body class="home page-template-default page page-id-3 pt-5">

    <main id="main-content" role="main" class="gp-container">
		<div class="[ gp-page__main ] [ is-layout-flow aligncontent ]">
            <h1>New font testing</h1>
            <h2 id="s1">Set 1</h2>
            <nav aria-labelledby="s1">
                <ul>
                    <li><a href="/tests/home-merriweather">Homepage</a></li>
                    <li><a href="/tests/post-merriweather">Post</a></li>
                    <li><a href="/tests/contact-merriweather">Contact us</a></li>
                    <li><a href="/tests/services-merriweather">Our services</a></li>
                </ul>
            </nav>

            <h2 id="s2">Set 2</h2>
            <nav aria-labelledby="s2">
                <ul>
                    <li><a href="/tests/home-merriweather-300">Homepage</a></li>
                    <li><a href="/tests/post-merriweather-300">Post</a></li>
                    <li><a href="/tests/contact-merriweather-300">Contact us</a></li>
                    <li><a href="/tests/services-merriweather-300">Our services</a></li>
                </ul>
            </nav>

            <h2 id="s3">Set 3</h2>

            <nav aria-labelledby="s3">
                <ul>
                    <li><a href="/tests/home-cardo">Homepage</a></li>
                    <li><a href="/tests/post-cardo">Post</a></li>
                    <li><a href="/tests/contact-cardo">Contact us</a></li>
                    <li><a href="/tests/services-cardo">Our services</a></li>
                </ul>
            </nav>

        </div>
    </main>

	</body>

</html>
