<!doctype html>
<html lang="en-US">

<head>
	<title>{{ title or metadata.title }} – dxw</title>
	{% include 'head.njk' %}
	{% include 'font-merriweather.njk' %}
</head>

	<body class="home page-template-default page page-id-3 pt-5">

    <main id="main-content" role="main" class="gp-container">
		<div class="[ gp-page__main ] [ is-layout-flow aligncontent ]">
            <h1>New font testing</h1>
            <h2 id="s1">Merriweather</h2>
            <nav aria-labelledby="s1">
                <ul>
                    <li><a href="/tests/home-merriweather">Homepage</a></li>
                    <li><a href="/tests/post-merriweather">Post</a></li>
                    <li><a href="/tests/contact-merriweather">Contact us</a></li>
                    <li><a href="/tests/services-merriweather">Our services</a></li>
                    <li><a href="https://docs.google.com/document/d/1Yds7_RMUhGtRvOFOUTfQbP2EsnuqGkHYYZgzaXbOuPY/edit#heading=h.l83ts5mcm06l">Google Docs sample</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1bNJlkYftPdLIKQ-UzVLpyzOnzVpeIlXpPyiJ_sZd2cg/edit#slide=id.p">Google Slides sample</a></li>
                </ul>
            </nav>

            <h2 id="s2">Merriweather light (300)</h2>
            <nav aria-labelledby="s2">
                <ul>
                    <li><a href="/tests/home-merriweather-300">Homepage</a></li>
                    <li><a href="/tests/post-merriweather-300">Post</a></li>
                    <li><a href="/tests/contact-merriweather-300">Contact us</a></li>
                    <li><a href="/tests/services-merriweather-300">Our services</a></li>
                    <li><a href="https://docs.google.com/document/d/1tnZA3YyV4fEvcqz5J6QQP_qVXtzgQGwqpz9D1lv2kCg/edit#heading=h.l83ts5mcm06l">Google Docs sample</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1YSqERc47xxtpNRta59c-NEIdxhBjzSA1FWIyrxYZFAU/edit#slide=id.p">Google Slides sample</a></li>
                </ul>
            </nav>

            <h2 id="s3">Cardo 22px</h2>

            <nav aria-labelledby="s3">
                <ul>
                    <li><a href="/tests/home-cardo-22px">Homepage</a></li>
                    <li><a href="/tests/post-cardo-22px">Post</a></li>
                    <li><a href="/tests/contact-cardo-22px">Contact us</a></li>
                    <li><a href="/tests/services-cardo-22px">Our services</a></li>
                    <li><a href="https://docs.google.com/document/d/116Ww65TsrtCab8E8J3lVcPNPbWrkxEyXV6p-pgblEBs/edit#heading=h.l83ts5mcm06l">Google Docs sample</a></li>
                    <li><a href="https://docs.google.com/presentation/d/13tOtG5iqgd0Nlupox_mcq-ujT5dQguPGdS49YyFXAzI/edit#slide=id.p">Google Slides sample</a></li>
                </ul>
            </nav>

            <h2 id="s3">Poppins</h2>

            <nav aria-labelledby="s3">
                <ul>
                    <li><a href="/tests/home-poppins">Homepage</a></li>
                    <li><a href="/tests/post-poppins">Post</a></li>
                    <li><a href="/tests/contact-poppins">Contact us</a></li>
                    <li><a href="/tests/services-poppins">Our services</a></li>
                    <li><a href="https://docs.google.com/document/d/1fPk-jWLZrS39ZmR5edW7FK-wmA02NuW82JL2gS9ZXjM/edit#heading=h.l83ts5mcm06l">Google Docs sample</a></li>
                    <li><a href="https://docs.google.com/presentation/d/1HWMHkwwZru4B_YkHxq_l802ZIBfvKdVukQsnJk5RYkY/edit#slide=id.p">Google Slides sample</a></li>
                </ul>
            </nav>

        </div>
    </main>

	</body>

</html>
