<!doctype html>
<html lang="en-US">

<head>
	<title>{{ title or metadata.title }} – dxw</title>
	{% include 'head.njk' %}
	{% include 'font-cardo.njk' %}
</head>

	<body class="post-template-default single single-post postid-20225 single-format-standard">

		{% include 'header.njk' %}

		<main id="main-content" role="main" class="gp-container">
			<article class="gp-single__post is-layout-flow aligncontent post-20225 post type-post status-publish format-standard has-post-thumbnail hentry category-blog-category tag-employee-owned">

	<div class="gp-single__header">
			</div><!-- /.gp-single__header -->


<div class="wp-block-group alignwide post-header is-layout-constrained wp-block-group-is-layout-constrained" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><h1 style="font-style:normal;font-weight:600;" class="post-header__title wp-block-post-title has-poppins-font-family">Time with the employee owned community</h1>

	<div class="wp-block-authors-list">
				<div class="wp-block-post-author">
			<div class="wp-block-post-author__avatar">
				<img alt='' src='https://www.dxw.com/wp-content/uploads/charlotte.kelsall-150x150.jpg' srcset='https://www.dxw.com/wp-content/uploads/charlotte.kelsall-150x150.jpg 2x' class='avatar avatar-24 photo avatar-default' height='24' width='24' />			</div>
			<div class="wp-block-post-author__content">
				<a href="https://www.dxw.com/author/cap-charlotte-kelsall/" title="Posts by Charlotte Kelsall" class="author url fn" rel="author">Charlotte Kelsall</a>			</div>
		</div>
			<div class="wp-block-post-author">
			<div class="wp-block-post-author__avatar">
				<img alt='' src='https://www.dxw.com/wp-content/uploads/ksenia-150x150.jpg' srcset='https://www.dxw.com/wp-content/uploads/ksenia-150x150.jpg 2x' class='avatar avatar-24 photo avatar-default' height='24' width='24' />			</div>
			<div class="wp-block-post-author__content">
				<a href="https://www.dxw.com/author/cap-ksenia-horoshenkova/" title="Posts by Ksenia Horoshenkova" class="author url fn" rel="author">Ksenia Horoshenkova</a>			</div>
		</div>
			<div class="wp-block-post-author">
			<div class="wp-block-post-author__avatar">
				<img alt='' src='https://www.dxw.com/wp-content/uploads/poss-150x150.jpg' srcset='https://www.dxw.com/wp-content/uploads/poss-150x150.jpg 2x' class='avatar avatar-24 photo avatar-default' height='24' width='24' />			</div>
			<div class="wp-block-post-author__content">
				<a href="https://www.dxw.com/author/cap-poss-apostolou/" title="Posts by Poss Apostolou" class="author url fn" rel="author">Poss Apostolou</a>			</div>
		</div>
			<div class="wp-block-post-author">
			<div class="wp-block-post-author__avatar">
				<img alt='' src='https://www.dxw.com/wp-content/uploads/suze-150x150.jpg' srcset='https://www.dxw.com/wp-content/uploads/suze-150x150.jpg 2x' class='avatar avatar-24 photo avatar-default' height='24' width='24' />			</div>
			<div class="wp-block-post-author__content">
				<a href="https://www.dxw.com/author/cap-suze-huldt/" title="Posts by Suze Huldt" class="author url fn" rel="author">Suze Huldt</a>			</div>
		</div>
			<div class="wp-block-post-author">
			<div class="wp-block-post-author__avatar">
				<img alt='' src='https://www.dxw.com/wp-content/uploads/dxw_7Dec_089-1-150x150.jpg' srcset='https://www.dxw.com/wp-content/uploads/dxw_7Dec_089-1-150x150.jpg 2x' class='avatar avatar-24 photo avatar-default' height='24' width='24' />			</div>
			<div class="wp-block-post-author__content">
				<a href="https://www.dxw.com/author/cap-molly-gavriel/" title="Posts by Molly Gavriel" class="author url fn" rel="author">Molly Gavriel</a>			</div>
		</div>
			<div class="wp-block-post-author">
			<div class="wp-block-post-author__avatar">
				<img alt='' src='https://www.dxw.com/wp-content/uploads/michelle.szaraz-150x150.jpg' srcset='https://www.dxw.com/wp-content/uploads/michelle.szaraz-150x150.jpg 2x' class='avatar avatar-24 photo avatar-default' height='24' width='24' />			</div>
			<div class="wp-block-post-author__content">
				<a href="https://www.dxw.com/author/cap-michelle-szaraz/" title="Posts by Michelle Szaraz" class="author url fn" rel="author">Michelle Szaraz</a>			</div>
		</div>
			<div class="wp-block-post-author">
			<div class="wp-block-post-author__avatar">
				<img alt='' src='https://www.dxw.com/wp-content/uploads/jonathan-flowers-150x150.jpg' srcset='https://www.dxw.com/wp-content/uploads/jonathan-flowers-150x150.jpg 2x' class='avatar avatar-24 photo avatar-default' height='24' width='24' />			</div>
			<div class="wp-block-post-author__content">
				<a href="https://www.dxw.com/author/cap-jonathan-flowers/" title="Posts by Jonathan Flowers" class="author url fn" rel="author">Jonathan Flowers</a>			</div>
		</div>
		</div>


<div class="wp-block-post-date"><time datetime="2023-12-14T13:47:46+00:00">14 December 2023</time></div>

<figure class="wp-block-post-featured-image"><img loading="lazy" decoding="async" width="600" height="401" src="https://www.dxw.com/wp-content/uploads/53D98322-96EB-4221-8F33-0D5C3FD9673C_1_105_c-1.jpeg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" style="object-fit:cover;" /></figure>


<div class="wp-block-group post-header__callout post-header__callout--blog has-white-color has-senary-background-color has-text-color has-background is-layout-constrained wp-block-group-is-layout-constrained" style="padding-top:var(--wp--preset--spacing--50);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--40)">
<svg width="30" height="36" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 73.5 88.2"><path fill="currentColor" d="M29.5 0H0v88.3h29.5c24.4 0 44.2-19.8 44.2-44.2S53.8 0 29.5 0z"></path></svg>



<p class="post-header__callout-text has-poppins-font-family" style="margin-top:var(--wp--preset--spacing--30);font-style:normal;font-weight:600">The number of Employee Owned Businesses has grown from under a thousand (when we became one) to over 1600 today</p>


</div>
</div>



<p>At the end of November a few of us attended the annual conference of the <a href="https://employeeownership.co.uk/">Employee Ownership Association</a>, in Liverpool.</p>



<div class="wp-block-group is-layout-constrained wp-block-group-is-layout-constrained">
<figure class="wp-block-image size-full"><img loading="lazy" decoding="async" width="600" height="398" src="https://www.dxw.com/wp-content/uploads/IMG_3801.jpg" alt="The Albert Docks in Liverpool on a sunny day." class="wp-image-20227"/><figcaption class="wp-element-caption">The Royal Albert Dock in Liverpool</figcaption></figure>



<p>dxw has been <a href="https://www.dxw.com/employee-owned/">employee owned</a> since 2021 and it’s a natural community for us to be part of.  We heard the great news that the number of Employee Owned Businesses (EOBs) has grown from under a thousand (when we became one) to over 1600 today.  As the employee owned sector is finding its feet it&#8217;s launched a new logo for employee owned businesses to help promote the sector&#8217;s benefits.</p>
</div>



<p></p>



<figure class="wp-block-image size-full"><img loading="lazy" decoding="async" width="400" height="169" src="https://www.dxw.com/wp-content/uploads/EOA_Members_RGB_PNG_EOA_Members_RGB_PNG-01-2.png" alt="" class="wp-image-20235"/></figure>



<p></p>



<p>It’s useful for this community to stick together because – we can’t pretend otherwise – making employee ownership work is <strong>hard</strong>.&nbsp; Like us, most of the EOBs we spoke to have transitioned from a founder who can make decisions for the company (because they own it) to a structure that is much more distributed – with a:&nbsp;</p>



<ul>
<li><a href="https://playbook.dxw.com/about-us/employee-ownership-and-how-dxw-is-run/#the-company-board">Company Board</a> to actually run the company, but accountable to a Trust Board&nbsp;</li>



<li><a href="https://playbook.dxw.com/about-us/employee-ownership-and-how-dxw-is-run/#the-trustee-board">Trust Board</a> who hold a large majority of the shares on behalf of employees and who ensure that the mission and values of the company are reinforced</li>



<li><a href="https://playbook.dxw.com/about-us/employee-ownership-and-how-dxw-is-run/#the-staff-council">Staff Council</a> who can act as an efficient route to the voice of co-owners for both the company and trust boards.&nbsp;&nbsp;</li>
</ul>



<p>Our Trust Board includes independent trustees and elected co-owner trustees. That’s an enormous change in how the organisation works.</p>



<p>Like us, the majority of EOBs begin their existence buying themselves from their original founders, which means that it can be some time before co-owners have the chance to choose between profit shares, investment in the company or other public-purpose activities.</p>



<p>Most EOBs embrace new ways of engaging their people in the running of the business. For example, by having a clear purpose-driven mission, well articulated values, and opportunities for people to work on important cross-cutting topics. We&#8217;d implemented some of these before &#8216;going EO&#8217;. So the challenge for us will be to take the positive reinforcement of seeing these methods work elsewhere and try to develop them further.</p>



<figure class="wp-block-image size-full"><img loading="lazy" decoding="async" width="600" height="401" src="https://www.dxw.com/wp-content/uploads/IMG_5999.jpg" alt="Suze Hult, Support Developer and Employee Trustee, standing up and speaking into a mic as they ask a question at the 2023 Employee Ownership Association conference." class="wp-image-20228"/><figcaption class="wp-element-caption">Suze Huldt, Support Developer and Employee Trustee posing a question</figcaption></figure>



<p>Some specific insights we’ve gleaned from those who went:</p>



<p><em>“I attended a number of governance workshops and I was surprised that most companies’ governance models were very different. There wasn’t a best practice model, just advice to make sure the governance is fit for purpose and has clearly defined roles and processes”.</em></p>



<p>Charlotte Kelsall &#8211; Secretariat to the Boards/Office Manager</p>



<p><em>“I was struck by how a huge, non-negotiable, part of running a successful EO business is running a successful business. I kept being drawn back to a mental image of EO being equivalent to icing a delicious cake, and sharing it ethically. To be a success, the cake must still be baked well. This means being commercially viable, financially sustainable and having something valuable to divide.”</em></p>



<p>Ksenia Horoshenkova &#8211; Business Analyst and Staff Council Member</p>



<p>“<em>A problem shared, is a problem halved. Most EO business leaders have the same issues, and most are willing to share stories and advice over coffee. I’m going to take advantage of this.”</em></p>



<p>Poss Apostolou, Chief Operating Officer and Company Board Member</p>



<p><em>“It was probably the least racially diverse conference I’ve attended in recent years – and the least gender diverse in terms of the speaker pool also. I’m very curious what accounts for this, especially as delegates and speakers represented a wide variety of companies across sectors. I wonder what this means about the existing network(s) of EOBs, and how we can change that.”</em></p>



<p>Suze Huldt, Support Developer and Employee Trustee</p>



<p><em>“The keynote speakers on both days reflected on the comparatively positive performance and stability of EO businesses vs non-EO businesses, and suggested that the extra levels of accountability might be a contributing factor. It was reassuring to hear that we’re not alone in still grappling with what these different layers of governance and accountability mean in practice, and that it’s likely to be a conversation we revisit, and that evolves, over time.”</em></p>



<p>Molly Gavriel, Business Analyst and Staff Council Member</p>



<p><em>“Someone at the conference said EO = ‘empowering obligation’ and that for an EO to succeed the business needs to empower people to THINK, not just DO within a business. This means the organisation has to shift from treating people as employees, to treating them as owners. In a lot of talks I attended people weren’t referred to as staff or employees, but rather as owners or partners with responsibilities and benefits that are linked to that. There’s a lot of work that needs to be done to reach that mindset and for it to be reflected in our everyday work and interactions. I think dxw has an exciting journey ahead working on this!”</em></p>



<p>Michelle Szaraz, Delivery Lead and Staff Council Chair</p>



<p><em>“EOBs are all pretty clear that being owned by employees rather than financially-motivated and uninvolved shareholders is a really attractive part of recruitment and retention of excellent people.&nbsp; Making employee ownership meaningful for people, especially in the first few years, is hard.&nbsp; I was surprised by how little thought has gone into showing that EO translates into benefits for </em><strong><em>clients</em></strong><em>.&nbsp; Maybe I’m overthinking it and the benefit is obvious, but as a highly mission-driven and accountable organisation I’d like us to demonstrate tangible impact from our ownership, working with other EOBs who care about that.”</em></p>



<p>Jonathan Flowers, Non-Exec Chair of the Company Board</p>



<p>The EOA Conference is moving to a larger venue next year – the sector&#8217;s outgrown Liverpool(!) – and we look forward to hearing back from the colleagues who go next time.</p>

</article><!-- /.gp-single__post -->
		</main>

<div class="single-pagination gp-container">

        <div class="single-pagination__link single-pagination__link--next">
        <h2 class="has-poppins-font-family">Previous</h2>
        <a href="https://www.dxw.com/2023/12/service-delivery-is-broken-its-time-to-join-it-up/" rel="prev">Service delivery is broken – it’s time to join it up</a>    </div>
    </div>

<div class="related-content">
    <div class="gp-container">
        <h2>Related posts</h2>
        <ul class="related-content__posts">
                            <li class="related-content__post">
                    <a class="[ related-content__link ] [ has-poppins-font-family ]" href="https://www.dxw.com/2021/09/dxw-is-now-owned-by-its-employees/">
                        <p class="related-content__title">dxw is now owned by its employees</p>
                    </a>

                    	<div class="wp-block-authors-list">
				<div class="wp-block-post-author">
			<div class="wp-block-post-author__avatar">
				<img alt="" src="https://www.dxw.com/wp-content/uploads/Harry_crop-32x32.jpg" srcset="https://www.dxw.com/wp-content/uploads/Harry_crop-32x32.jpg 2x" class="avatar avatar-24 photo avatar-default" height="24" width="24" loading="lazy" decoding="async">			</div>
			<div class="wp-block-post-author__content">
				<a href="https://www.dxw.com/author/cap-harry-metcalfe/" title="Posts by Harry Metcalfe" class="author url fn" rel="author">Harry Metcalfe</a>			</div>
		</div>
		</div>
                </li>
                        </ul>
    </div>
</div>


	{% include 'newsletter.njk' %}
	{% include 'footer.njk' %}

	</body>

</html>
