<div class="newsletter-sub pt-28 pb-32">
	<div class="gp-container">
		<div class="flex flex-col flex-row gap-2 lg:flex-row lg:gap-12 lg:gap-[20%] justify-between">

			<div class="lg:basis-1/2">
				<h2 class="pb-4 has-poppins-font-family">Keep in touch</h2>
			</div>

		</div>

		<div class="flex flex-col gap-8 sm:flex-row lg:gap-12 justify-between">

			<div class="basis-1/2">
				<p class="has-poppins-font-family">The dxw newsletter is a regular update on what we've been doing and thinking about.</p>
			</div>
			<div class="basis-1/2 flex flex-col lg:items-end">
				<!-- SUB FORM -->
				<form class="[ newsletter-sub__form ] [ max-w-xl flex flex-col lg:flex-row ]" action="https://dxw.us10.list-manage.com/subscribe/post?u=ab061feaa8b6015f435690a92&amp;id=8f914fcfcb" method="post">
    <label for="email" class="sr-only">Email</label>
    <input id="email" type="email" placeholder="name@address.com" name="EMAIL"><input type="submit" value="Subscribe">
</form>
			</div>
		</div>
	</div>
</div>